.header-section{
    text-align: center;
    font-family: 'Abel', sans-serif;
    background-color: beige;
}

body{
    background-color: beige;
}

.image-section{
    justify-content: center;
    text-align: center;
}

.top-section{
    text-align: center;
    font-family: 'Bebas Neue', cursive; 
    text-size-adjust: 300px;
}

.navi{
    font-family: 'Bebas Neue', cursive;
}

.logo{
    text-align: center;
}