.navbar-section{

}

.button-section{
    text-align: right;
    background-position: 40%;
}

.photo-section{

}

.contact-section{
    text-align: center;
}

.alert-danger{
    text-align: center;
    justify-content: center;
}

.card1{

}