.navbar-section{
    font-family: 'Bebas Neue', cursive;
width: 100vw;

}

.button-section{
    text-align: right;
    background-position: 40%;
}

.photo-section{

}

.contact-section{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}

.opening-text{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}

.opening-section{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}

.big-card{
    display: flex;
    width: 100vw;
    justify-content: center;
    column-gap: 50px;
    font-family: 'Bebas Neue', cursive;
}

.alert-danger{
    text-align: center;
    justify-content: center;
}

.card1{
    justify-content: left;

}

.why-section{
    font-family: 'Bebas Neue', cursive;
    word-wrap: break-word;
    text-align:center;
}

.card2{
    justify-content: center;
}

.card3{
    justify-content: end;
}

.food-pantry{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}

.add-resource{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}

body{
    background-color: beige;
}