.navbar-section{

}

.button-section{
    text-align: right;
    background-position: 40%;
}

.photo-section{

}

.contact-section{
    text-align: center;
}

.big-card{
    display: flex;
    width: 100vw;
    justify-content: center;
    column-gap: 50px;
}

.alert-danger{
    text-align: center;
    justify-content: center;
}

.card1{
    justify-content: left;

}

.card2{
    justify-content: center;
}

.card3{
    justify-content: end;
}

body{
    background-color: beige;
}